.jumbotron {
  padding-top: 3rem;
  background-color: #d5d7d8;
}

.jumbotron .container {
  min-height: 350px;
}

#projects,
#contact {
  background-color: #d5d7d8;
}

section {
  padding-top: 5rem;
}

#about .container {
  min-height: 400px;
}
